In [2]:
print('hello')

hello

In [11]:
# ** is used for power in python 
print(3**2)

9

In [3]:
print(4**0.5)

2.0

In [4]:
print("hello     vamsi   spandana")

hello     vamsi   spandana

In [53]:
# type()
x = "span"
y = 90
print(type(x), type(y))

<class 'str'> <class 'int'>

In [12]:
# in python string is not combined with either 'int' or 'float'
print("hello"+2)

TypeError: can only concatenate str (not "int") to str

In [29]:
# Explicit conversion: " convert one data type to another manually by calling a function with the name of type we're converting to"
# in python string is not combines with float/int but you can combine by convert  int/float to string by using 'str'
length = 2
breadth = 3
area = length * breadth
print("area of rectangle is:"+ str(area))

area of rectangle is:6

In [27]:
#Implicitconversion:"The interpreter automatically converts one data type into another"

print(5+0.2)

5.2

In [6]:
def sum_div(x):
    return x+5

In [7]:
sum_div(6)

11

In [8]:
sum_div(7)

12

In [9]:
# convert Fahrenheit to celsius using functions
def fahr_to_cel(x):
    return (x-32)*5/9

In [30]:
fahr_to_cel(63)

17.22222222222222

In [22]:
# check if a number is positive , negitive or zero using conditional statements
def check_number(number):
    if number == 0:
        print("number is zero")
    elif number > 0:
        print("number is positive")
    else:
        print("number is negitive")

In [20]:
check_number(-2)

number is negitive

In [32]:
# 1. Use variables to store values
# Use basic arithmetic operators with variables to create expressions
# Use explicit conversion to change a data type from float to string

# example: there is one 'shared' hotel room for 4 members. findout each person needs to pay for that shared room .
#          the room charges may include original room cost+tax

room_cost = 100
tax_room = 100 * 0.08   # 10% tax of 100 is 100*0.10(100*10/100)=10 , 8% tax of 100 is 100*0.08(100*8/100)=8
total = room_cost + tax_room  # 100+8=108
persons_per_room = 4
share_per_person = total/persons_per_room
print("Each person needs to pay is:"+ str(share_per_person))

Each person needs to pay is:27.0

In [38]:
print("sandhya,bharath   spandana=vamsi  roja:rose")

sandhya,bharath   spandana=vamsi  roja:rose

In [49]:
# 2. Output multiple 'string variables' on a single line to form a sentence
# Use the plus (+) connector or a comma(,) to connect strings in a print() function
# Create spaces between variables in  a print() function

first_name = "vamsi"
middle_name = "krishna"
last_name = "sesham"
suffix = "B.tech"
print(first_name,middle_name,last_name,",",suffix)   # when we use comma(,) it automatically creates space b/w words
print(first_name +" "+ middle_name + " "+last_name + "," + " "+suffix)

vamsi krishna sesham , B.tech
vamsi krishna sesham, B.tech