In [ ]:
# Functions

In [50]:
# def is short for “define”. It's a keyword that you need to "define a function"

In [1]:
def greeting(name,department):
    print("Hello",name,"from department",department)

In [4]:
greeting("spandana","IT")

Hello spandana from department IT

In [5]:
# usage of max() and min():

# For example, you could use these functions to identify the longest or shortest session that a user logged in for a cource. 
# If a specific user logged in seven times during a week, and you stored their access times in minutes in a list, 
# you can use the max() and min() functions to find and print their longest and shortest sessions:

user1 = [20,10,35,12,19,45,60]  # minutes per day in one week
print(max(user1))
print(min(user1))

60
10

In [6]:
def area_of_traingle(breadth, height):
    return breadth*height/2

In [7]:
area_of_traingle(5,4)

10.0

In [12]:
# Returning values in functions

def area_of_traingle(breadth, height):
    return breadth*height/2
a = area_of_traingle(4,2)
b = area_of_traingle(4,4)
sum = a + b
print("sum of areas of traingles a and b are: " + str(sum))
print("area of traingle a is : "+ str(a))

sum of areas of traingles a and b are: 12.0
area of traingle a is : 4.0

In [42]:
# code reuse 
# this script uses len() and str()
# print lucky numbers of persons by giving their names as input. lucky number format is your wish and the print staememnt format is:"hello 'name', your lucky number is:"

def lucky_number(name):
    number = len(name) * 9
    print("hello",name,",your lucky number is: ",str(number))

lucky_number("vamsi span")

hello vamsi span ,your lucky number is:  90

In [49]:
# code style : use readable way to write your code to understand all people includes you, for ex:after 6 months you forgot your own code so, structure code in a simple way
# parameter (argument) -  a value passed into a function for use within the function

def area_of_circle(radius):
    pi = 3.14
    return pi*(radius**2)

area_of_circle(2)

12.56

In [65]:
# 1.Use a function to return the result of a 'measurement conversion'

# Use arithmetic operators to perform a calculation

# Convert the return value from a float data type to a string for the print() function

# I use example 'megabyte to gigabyte conversion' 1gb=1024mb

def gigabyte(megabytes):
    if megabytes == 1024:
        return "1gb"
    elif megabytes > 1024:
        a = megabytes // 1024            # here we use // means normal division but not returns float values
        print(str(a),"gb")
    else:
        print("provide greater than 1024 megabytes of data to caluculate gb")

In [66]:
gigabyte(2048)

2 gb

In [73]:
# 2.Use a function to return the result of a measurement conversion
# Use arithmetic operators to perform a calculation
# *Combine 'text' with a 'function call' 'within a print()' statement
# Convert the return value from a float data type to a string for the print() function
# *Call the function and perform a calculation on the 'return value' 'within a print() statement'

def conversion_to_milliliter(oil):         # oil in liters
    ml = oil * 999.4                        # 1 liter = 999.4ml
    return ml
print("the volume of oil in milliliters is: " + str(conversion_to_milliliter(2)))    # Combining the 'text' with a 'function call' 'within a print()' statement    
print("the volume of oil in milliliters is: " + str(conversion_to_milliliter(2*2)))  # Calling the function and perform a calculation on the 'return value' 'within a print() statement'

the volume of oil in milliliters is: 1998.8
the volume of oil in milliliters is: 3997.6