In [49]:
# strings : is a group of characters. enclosed in " " or ' '
# strings in python are immutable(can't change)

# Strings are objects contains a sequence of single-character strings. Yes, a single letter is classified as a string in Python. 
# For example, string[0] is considered a string even though it is just a single character.

In [12]:
# looping a string of characters

name = "Hello"
for char in name:
    print(char)        # here we can end =" " to print all character in an endless line

H
e
l
l
o

In [4]:
# What if you don’t want the elements of the string but the position of the string instead?

name = "Hello"
for i in range(len(name)):
    print(i)

0
1
2
3
4

In [5]:
name = "Hello"
for i in range(len(name)):
    print(name[i])

H
e
l
l
o

In [6]:
print("example" * 3)

exampleexampleexample

In [10]:
text = "Random string with a lot of characters"
print(text[-1])
print(text[-2])

s
r

In [5]:
# strings usage in while loop with indexing:
# ** Pro Tip ** : In any while loop, you can add conditional statements and stop the iteration process early 
# so that the loop does not examine every character like in for loop.                                                      
# index : always starts from '0
# length: always starts from '1'    

name = "Hello"                                 
index = 0
while index < len(name):
    print(name[index])
    index += 1

H
e
l
l
o

In [24]:
# Lists:

numbers = [1,2,3,4,5]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [1]:
# slice and join strings:

# slice :To access "individual characters of a string"/ "substrings in a string" by specifying the index using [::]
#          [start:end:multiple],..........,[start:end:-1] for reverse of whole string
    
# join : Joining strings allows you to "add two or more strings together" using + operator or .join()

In [41]:
# Slice and string Indexing:    # *** to findout the string characters using indexes ***

span = "welcome, svk"   # 12 characters   front:(0 to 11) & back:(-1 to -12)

print(span[0])         # it starts from 0 and you dont specify end so by default it takes to end of string 

print(span[-1])
print(span[-2])        # when we use - then it start backwards from -1,-2,-3,... not -0,-1,-2,...

print(span[-3:])       # you didn't specify ending value so by default it prints upto ending value
print(span[-3:-1])

print(span[0:8])       # it takes starting to ending input and print by excluding 1 at end i.e it prints from 0-7 only
print(span[7:11])

print(span[0:12:2])    # it gives every second value because you specifies n=2 and the string starting index is 0 so by default it gives index 0 character/value

print(span[::-1])      # it reverses whole string

w
k
v
svk
sv
welcome,
, sv
wloe v
kvs ,emoclew

In [43]:
# 1 *** To findout the indexes of string characters ***
 
pets = "Cats & Dogs"

print(pets.index("&"))
print(pets.index("C"))

5
0

In [48]:
# 2 

print("spandana".index("s"))

"vamsi krishna".index("a")

0

1

In [9]:
# Join

span = ["welcome","greetings"]
print(" ".join(span))         # " " : creates an empty string. (or) you can specify like this also x = " "   print(x.join(span))
print("welcome"+"greetings")

welcome greetings
welcomegreetings

In [16]:
# common errors in string:

In [21]:
#1 : range() is used to iterate int objs.

for x in 25: # error in this line we dont specify range(). i.e range(25) i.e *** range() is used to iterate integer objects***
    print(x)

TypeError: 'int' object is not iterable

In [27]:
#2

def greetings(friends):
    for friend in friends:
        print("Hello "+friend)
        
greetings(["aaa","bbb","ccc"])

Hello aaa
Hello bbb
Hello ccc

In [28]:
#3

def greetings(friends):
    for friend in friends:
        print("Hello "+friend)
        
greetings("aaa","bbb","ccc")

TypeError: greetings() takes 1 positional argument but 3 were given

In [30]:
#4: in strings takes every character as a substring in a original string 

def greetings(friends):
    for friend in friends:
        print("Hello "+friend)
        
greetings("aaa,bbb,ccc")

Hello a
Hello a
Hello a
Hello ,
Hello b
Hello b
Hello b
Hello ,
Hello c
Hello c
Hello c

In [33]:
#5

def greetings(friends):
    for friend in friends:
        print("Hello "+friend)
        
greetings(["vamsi"])

Hello vamsi

In [ ]:
# strings M-4:

In [50]:
name = "kong string"
name[0] = "l"         # this will throw an error, we cant change individual characters because strings in python are "immutable"

TypeError: 'str' object does not support item assignment

In [51]:
# strings in python are immutable if you want to change characters change is based on old ones see below example

name = "very kong string"
new = name[0:5] + "l" + name[6:]
print(new)

very long string

In [55]:
# In this example we are not changing the old string just we are assigning a whole new string

name = "spandana"
print(name)
name = "vamsi"
print(name)

spandana
vamsi

In [56]:
# using string method   .index()    used to get value using characters
pets = "Cats & Dogs" 

print(pets.index("&"))
print(pets.index("C"))

5
0

In [74]:
# **** Real world example: you are moving to a new company that company manger assigned a work that 
# the company changes the email domain but the company members still using a lot of old email domains
# so you have to change the old email domains to new email domains don't change the email adress only change the domain 

def replace_domain(email, old_domain, new_domain):
    
    if "@" + old_domain in email:
        index = email.index("@" + old_domain)   # for ex in our sample email this gives o/p of 4 for index value of @
        new_email = email[:index] + "@" + new_domain
        return new_email
    return email

replace_domain("span@gmail.com","gmail.com","rhrk-uni.kl.de")

'span@rhrk-uni.kl.de'

In [81]:
# or 

def replace_domain(email, old_domain, new_domain):
    
    if old_domain in email:
        index = email.index("@")   # for ex in our sample email this gives o/p of 4 for index value of @
        new_email = email[:index] + "@" + new_domain
        return new_email
    return email

replace_domain("span@gmail.com","gmail.com","rhrk-uni.kl.de")

'span@rhrk-uni.kl.de'

In [ ]:
# below are using string methods: .index() , in , .split() , .count() .upper() , .lower() ,string.isnumeric() ,string.isalpha() ,
#                                  endswith() , strip() , lstrip() , rstrip() , .join() , .replace('old','new')

In [79]:
name = "spandana"
name.index("p")

1

In [1]:
print("abc" in "abcde")

True

In [58]:
# in : keyword to check the substring is inside the string

pets = "cats & dogs"

print("cats" in pets)
"dragons" in pets

True

False

In [5]:
# string[i] - Accesses the character at index i of the string, starting at zero

print("abcde"[0])
print("abcde"[-1])

a
e

In [7]:
# .index() : to find out the single string  or specific string value

name = "spandana,polana"
print(name.index("p"))
print(name.index("spandana"))
name[0]

1
0

's'

In [8]:
# .count() : used to count the specific string how many times repeated in a given string

span = "spandana polana"
span.count("a")

5

In [17]:
# .split() : 'to split the given single string into seperated small stings', this method is inverse of join() method.
#             By default, it splits by any whitespace characters. You can also split by any other characters by passing a parameter.

span = "spandanapolana vamsi krishna"
print(span.split())

print("abc1def1ghi".split("1"))

['spandanapolana', 'vamsi', 'krishna']
['abc', 'def', 'ghi']

In [24]:
# .upper() and .lower()

span = "spandana polana"
print(span.upper())
span.lower()

SPANDANA POLANA

'spandana polana'

In [11]:
# .isnumeric() : If the string contains only numbers, this method will return True.

span = "12345"
print(span.isnumeric())

print("123.45".isnumeric())

print("-12345".isnumeric())

True
False
False

In [13]:
# string.isalpha() :Returns True if there are only letters in the string. If not, returns False.

print("abc".isalpha())

print("abc.123".isalpha())

True
False

In [34]:
# lower(): real world example

user_answer = "Yes"
if user_answer.lower() == "yes":
    print("login approved")

login approved

In [38]:
# .endswith(): to check whether the given i/p string ends with specific string or not

span = "wild forest"
span.endswith("rest")

True

In [20]:
# string.replace(old, new) - Returns a new string where all occurrences of old have been replaced by new.

span = 'lover of vamsi'
print(span.replace('lover','wife'))

wife of vamsi

In [69]:
# .strip() , .lstrip() , .rstrip()

span = "   spandi**"
print(span.strip())     # removes white spaces on both sides.Whitespace includes spaces, tabs, and newline characters. 
print(span.lstrip())    # removes left side white spaces only
print(span.strip("**")) # removes specified string in right side only

spandi**
spandi**
   spandi

In [22]:
# delimiter.join(list of strings):

span = "wife of vamsi krishan sesham"
print("-".join(span.split()))

s = " "
print(s.join("vamsi"))
print(" ".join("span"))
print(s.join(["vamsi","krishna","sesham"]))

print("***".join("vamsi"))
print("***".join(["vamsi","krishna","sesham"]))

print("span".join("vamsi"))
print("span ".join("vamsi"))
print("span".join("vamsi "))

wife-of-vamsi-krishan-sesham
v a m s i
s p a n
vamsi krishna sesham
v***a***m***s***i
vamsi***krishna***sesham
vspanaspanmspansspani
vspan aspan mspan sspan i
vspanaspanmspansspanispan

In [66]:
int("123") + int("123")

246

In [107]:
# Instead of using + sign and str() to combine the strings to print in print() we use advaned method .format i.e " string formating"

In [77]:
# string formating : use the 'format method' on strings to concatenate and format strings in all kinds of powerful ways. 
#                    To do this, create a string containing curly brackets, {}, as a placeholder, to be replaced.
#                    Then call the format method on the string using .format() and pass variables as parameters. 
#                    The variables passed to the method will then be used to replace the curly bracket placeholders.

#  However, you can put certain expressions inside the curly brackets to do even more powerful string formatting.
#    For example: The formatting expression {:.2f} means that you’d format this as a float number, with two digits after the decimal dot. 
#               The colon acts as a separator from the field name, if you had specified one.

#    you can also specify text alignment using the greater than operator: >.
#    For example : The expression {:>3.2f} would align the text three spaces to the right, 
#                  as well as specify a float number with two decimal places

In [29]:
# 1

def student_grade(name,grade):
    print("student {} received {}% overall grade".format(name,grade))
    
    
student_grade("vamsi",94)

student vamsi received 94% overall grade

In [33]:
# 2

def student_grade(name,grade):
    print("student {0} received {1}% overall grade and the class topper is {0}".format(name,grade))
    
student_grade("vamsi",94)

student vamsi received 94% overall grade and the class topper is vamsi

In [84]:
# 3

name = "vamsi"
print("Helo {name},your lucky number is {number}".format(name = name,number = len(name) * 2-1))

Helo vamsi,your lucky number is 9

In [87]:
 
def to_celcius(f):
    result = (f - 32) * (5/9)
    return result

for f in range(0,101,10):
    print("fahrenheit {} f | celcius {} c".format(f,to_celcius(f)))

fahrenheit 0 f | celcius -17.77777777777778 c
fahrenheit 10 f | celcius -12.222222222222223 c
fahrenheit 20 f | celcius -6.666666666666667 c
fahrenheit 30 f | celcius -1.1111111111111112 c
fahrenheit 40 f | celcius 4.444444444444445 c
fahrenheit 50 f | celcius 10.0 c
fahrenheit 60 f | celcius 15.555555555555557 c
fahrenheit 70 f | celcius 21.11111111111111 c
fahrenheit 80 f | celcius 26.666666666666668 c
fahrenheit 90 f | celcius 32.22222222222222 c
fahrenheit 100 f | celcius 37.77777777777778 c

In [106]:
# 4 : Real world example            The expression {:>3.2f} would align the text three spaces to the right, 
#                                   as well as specify a float number with 2 decimal places

def to_celcius(f):
    return (f - 32) * 5/9
for f in range(0,101,10):
    print("fahrenheit {:>3} f | celcius {:>7.2f} c".format(f,to_celcius(f)))

fahrenheit   0 f | celcius  -17.78 c
fahrenheit  10 f | celcius  -12.22 c
fahrenheit  20 f | celcius   -6.67 c
fahrenheit  30 f | celcius   -1.11 c
fahrenheit  40 f | celcius    4.44 c
fahrenheit  50 f | celcius   10.00 c
fahrenheit  60 f | celcius   15.56 c
fahrenheit  70 f | celcius   21.11 c
fahrenheit  80 f | celcius   26.67 c
fahrenheit  90 f | celcius   32.22 c
fahrenheit 100 f | celcius   37.78 c

In [43]:
# real world example 2:

# imagine you are working in a farmer’s market and need to generate receipts for your customers. 
# You need to weigh the items, calculate the subtotal price for each item (weight times the price per kg),
# and then add sales tax to the subtotal for total price. 

# This is the example for only 1 item in the basket:

def basket(name,weight,per_kg_price):
    
    subtotal = weight * per_kg_price
    tax = subtotal * 0.07
    total = subtotal + tax
    print('subtotal is:{stl}   included tax is:{tax:.2f}   total price is:{ttl}'.format(stl = subtotal,tax = tax,ttl = total))
    
basket('apple',3,2)

subtotal is:6   included tax is:0.42   total price is:6.42

In [57]:
# This is the example for multiple(a list of items) in the basket:

def receipt(basket):
    subtotal = 0
    for item in basket:
        name,weight,per_kg_price = item
        subtotal = subtotal + weight * per_kg_price
        tax = subtotal * 0.07
        total = subtotal + tax
    print('subtotal:{} tax:{:>5.2f} total:{:>6}'.format(subtotal,tax,total))
    
receipt([('apple',2,2),('banana',2,2),('karrot',2,2)])

subtotal:12 tax: 0.84 total: 12.84

In [70]:
# or 

# Here are the items in the customer's basket. Each item is a tuple
# of (item name, weight, price per kg).

basket = [('apple',2,2),('banana',2,2),('karrot',2,2)]

# Calculate the total price for each item (weight times price per kg)
# and add them up to get a subtotal.

subtotal = 0.00
tax_rate = 0.07 # 7% sales tax in germany
for item in basket:
    fruit,weight,unit_price = item
    subtotal += (weight * unit_price)
    tax_amt = subtotal * tax_rate
    total = subtotal + tax_amt

# Print the receipt for the customer.

print("Subtotal:", subtotal)
print("Sales Tax:", tax_amt)
print("Total:", total)

Subtotal: 12.0
Sales Tax: 0.8400000000000001
Total: 12.84

In [ ]:
# string quiz questions

In [15]:
# 1

# Use a for loop to iterate through each letter of a string. 
# Add a character to the front of a string.
# and Add a character to the end of a string.
# Use the .lower() string method to convert the case (uppercase/lowercase) of the letters within a string variable. 


# the above question answer is 'Palindrome':

def is_palindrome(name):
    forward = ""
    backward = ""
    for char in name:                     # "29092","madam","noon","spanaps"
        if char.isalpha() or char.isnumeric():
            forward = forward + char
            backward = char + backward
    if forward.lower() == backward.lower():
        return "palindrome"
    return "Not a Palindrome"

is_palindrome('Noon')

'palindrome'

In [24]:
# 2

# Within the format() parameters, select characters at specific index [ ] positions from a variable string.  
# Use the format() method, with {} placeholders for variable data, to create a new string.

def username(last_name,dob):
    print('Username is: {}{}'.format(last_name[0:3],dob))
    
username('polana','1999')

Username is: pol1999

In [46]:
# 3

# Use the .replace() method to replace part of a string.  
# Use the len() function to get the number of index positions in a string.
# Slice a string at a specific index position.

# answer : This function checks a given schedule entry for an old date and, if found, the function replaces it with a new date.

def replace(schedule,old_date,new_date):
    if old_date in schedule:
        p = schedule.index(old_date)     # gives starting index of old_date
        new_schedule = schedule[:p] + schedule[p:].replace(old_date,new_date)
        print(new_schedule)
    
    
replace("In April the CEO will hold a conference", "April", "May")

In May the CEO will hold a conference

In [50]:
# or 

def replace_date(schedule, old_date, new_date):
    if schedule.endswith(old_date):                # takes only endswith(old_date)
        p = len(old_date)   # gives length of old_date
        new_schedule = schedule[:-p] + schedule[-p:].replace(old_date, new_date)
        return new_schedule
    return schedule

print(replace_date("Last year’s annual report will be released in March 2023", "2023", "2024"))
print(replace_date("In April, the CEO will hold a conference", "April", "May"))  # This schedule is not changed because condition only checks endswith(old_date)

Last year’s annual report will be released in March 2024
In April, the CEO will hold a conference